

{
    // REQUIRED Arguments
    name:: error "name must be defined",
    namespace:: error "namespace must be defined",

    local service = {
        metadata: {
          name: $.name,
          namespace: $.namespace,
        },
        spec: {
          selector: {
            serviceName: $.name,
          }
          // Some required fields omitted for brevity -- you can refer to
          // https://kubernetes.io/docs/concepts/services-networking/service/
          // for more information on defining services.
        }
      },

      apiVersion: "v1",
      kind: "Service",
      metadata: service.metadata,
      spec: service.spec,
}
